node_modules/
.expo/
coverage/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
expo-pocket-mirror-app@pc-api-8822606423697644441-864.iam.gserviceaccount.com.json

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
